@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Arial';
}
.wrapper{
	background: url(https://i.pinimg.com/originals/f8/f4/dd/f8f4ddbcb54eb102d1c4b267e843061a.jpg);
	height: 120vh;
	background-size: cover;	
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(173,216,230, 0.4);
}
.navbar .logo{
	width: 130px;
	height: 80px;
	padding: 5px 90px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #5F9EA0;
	border-radius: 2px;
}
.sub-menu{
	display: none;
}
.navbar ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background: rgba(173,216,230, 0.4);
	margin-left: -15px;
}
.search-txt{
	width: 0px;
}
.btn:hover > .search-txt{
	width: 70%;
	transform: 1.5s;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.cart{
	margin: 80px;
}

.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: white;
	background: rgba(66, 99, 178, 0.5);
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 20px;
	padding: 5px;
}
td a{
	color: blue;
	font-size: 12px;
}
td img{
	height: 80px;
	width: 80px;
	margin-right: 10px;
}
.total{
	display: flex;
	jsutify-content: flex-end;
}

.total table{
	border-top: 3px solid rgba(66, 99, 178, 0.5);
	width: 100%;
	max-width: 400px;
	margin-right: 90px;
}

table{
	margin: 80px auto;
	margin-bottom: 0px;
	width: 100%;
	border-collapse: collapse;
}
.check-out button {
	font-size: 15px;
	color: white;
	background-color: red;
	text-align: center;
	float: right;
	margin-right: 200px;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}